/* Remove Browser Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Settings  */
body {
  background-color: #fff;
  position: relative;
}

/* Settings for the Header */
header {
  width: 95%;
  margin: 20px auto 20px auto;
  padding: 20px;
  background-color: #666666;
}

h1 {
  font-family: sans-serif;
  color: #fff;
}

/* Main Content */
main {
  width: 95%;
  height: 60vh;
  margin: 20px auto 20px auto;
  position: relative;
  border-bottom: 5px #666666 solid;
}

/* Left Section */
.absolute {
  width: 48%;
  position: absolute;
  left: 0;
}

.absolute h2, .relative h2 {
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-left: 10px;
}

.abs-images {
  position: relative;
}

#abs-sunset {
  width: 100%;
}

#abs-stairs {
  width: 30%;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Right Section */
.relative {
  width: 48%;
  position: absolute;
  right: 0;
}

.rel-row {
  width: 100%;
  margin: 50px 0;
}

.row {
  width: 30%;
  margin-right: 1%;
}

.row:last-of-type {
  margin-right: 0;
}

.row-i-relative {
  position: relative;
  top: 25px;
}

.row-ii-relative {
  position: relative;
  bottom: 25px;
}

/* Image */
img {
  border: 2px antiquewhite solid;
}